.Logotype {
    max-width: 180px;
    margin-left: 1px;

}


.NotificationMenu {
    margin: auto;
    margin-top: 5px;

}



.MenuContainer {
    max-width: 960px;
    padding: 0 20px;
}

.ContainerButtonMenu {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
}

@media only screen and (max-width: 400px) {
    .Logotype {
        max-width: 100%;
        margin: auto;
        padding-bottom: 30px;

    }

    .ContainerButtonMenu {
        margin: auto;

    }

    .MenuContainer {
        padding-bottom: 30px;

    }
}

@media only screen and (max-width: 300px) {
    .Logotype {
        max-width: 100%;
        margin: auto;
        padding-bottom: 30px;

    }

    .MenuContainer {
        padding-bottom: 30px;
    }
}