.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    margin: auto;
}


.card {
    overflow: hidden;
    box-shadow: 0 1px 10px gray;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    padding-bottom: 25px;
    margin: 50px 0;
}

.card__title {
    text-align: center;
    padding: 0 1rem;
    font-family: 'Rubik', sans-serif;
}

.card__description {
    padding: 0 1rem;
    text-align: center;
    font-size: 20px;
}

.card__bnt {
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid black;
    background-color: transparent;
    color: black;
    border-radius: 3px;


}

.card:hover {
    transform: scale(1.02);
    background-color: #4300b6;
}

.card:hover button {
    background-color: #4300b6;
}

hr.solid {
    border-top: 1px solid rgb(0, 0, 0);
    margin: 10px auto;

    width: 70%;
}


@media only screen and (max-width: 850px) {
    .card__title {
        font-size: 25px;
    }

    .card__description {
        font-size: 18px;
    }

}

@media only screen and (max-width: 820px) {
    .card__title {
        font-size: 22px;
    }

    .card__description {
        font-size: 18px;
    }
}

@media only screen and (max-width: 720px) {
    .card__title {
        font-size: 22px;
    }

    .card__description {
        font-size: 16px;
    }

    .wrapper {
        gap: 1rem;
    }
}

@media only screen and (max-width: 650px) {
    .card__title {
        font-size: 28px;
    }

    .card__description {
        font-size: 22px;
    }

    .wrapper {
        gap: 1rem;
    }

    @media only screen and (max-width: 600px) {
        .card__title {
            font-size: 28px;
        }

        .card__description {
            font-size: 22px;
        }
    }

    .wrapper {
        gap: 1rem;
    }

    @media only screen and (max-width: 550px) {

        .card__title {
            font-size: 28px;
        }

        .card__description {
            font-size: 22px;
        }
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 40px;

    }

    .card {
        margin: 0px;

    }














}