.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    font-size: 1.4rem;
    text-align: center;
    background-color: antiquewhite;
}

h2 {
    font-size: 1.5rem;
}

.container {
    width: 750px;
    
}


p {
    margin-top: 10px;
    text-align: justify;
    text-justify: inter-word;
    
}