.pix {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120vh;
    font-size: 1.4rem;
    text-align: center;

}

h2 {
    font-size: 1.5rem;
}

.container-pix {
    width: 700px;
    margin: auto;
}

.logopix{
    width: 50px;
    margin-bottom: -8px;
}
.logocor{
    width: 35px;
    margin-bottom: -8px;
}
.qrpix{
margin: auto;
text-align: center;
width: 70%;
margin-top: 20px;

}

.red-span {
    color: red;
}


p {
    margin-top: 10px;
    text-align: justify;
    text-justify: inter-word;

}

.word {
    margin-top: 5px;
    width: 70%;
    height: 100%;
    background-color: #060b26;
}



