@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: black;
    list-style: none;
    text-decoration: none;

}





h1,
h2,
h3,
h4,
h5 {
    font-family: Rubik, sans-serif;
    color: black;
}

a {
    text-decoration: none !important;
    color: #5C00FF !important;
}

.teste:hover {
    text-decoration: underline !important;
    transition: ease background-color 250ms;
}


li,
p {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;


}

@media only screen and (min-width: 751px) {
    .solid {
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    .ImageH1Container>section>h1 {

        display: none;

    }

    .ImageH1Container>div>img {
        display: none;
        width: 0;
    }

}